<h1>Products#index</h1>
<%= link_to 'Sign up', new_user_path %>
<%= link_to "Log in", new_session_path %>
<p>Find me in app/views/products/index.html.erb</p>

<%= @products.each do |product| %>
<%= product.name %>
<%= product.description %>
<%= product.formatted_price %>
<%= link_to "View", product_path(product.id) %>
</br>
<% end %>

<%= link_to "Add new product", new_product_path %>
</br>

